@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-text {
  display: inline-block;
  background-size: 200% 200%;
  animation: gradientAnimation 4s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
